html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  width: 100%;
  height: 200%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
}

.lefttext,
.righttext,
.logo,
.mainmenu > a,
.maintitle > ul,
.typing > ul,
.minititle,
.koname,
.engname,
.sectiontitle {
  color: transparent;
  background: linear-gradient(to right, #ffd6d6, #81d3d9, #fec58e);
  -webkit-background-clip: text;
}

/* Header */
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  z-index: 30;
}

.logo {
  margin-left: 126px;
  font-weight: 600;
  font-size: 22px;
}

.mainmenu {
  margin-left: 970px;
  position: fixed;
  display: flex;
  font-size: 16px;
}

.mainmenu > a {
  margin-right: 30px;
}

/* START PAGE */
.startpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maintitle {
  display: none;
}

.maintitle > ul,
.typing > ul {
  position: absolute;
  text-align: center;
  margin-top: 300px;
  margin-left: -180px;
  font-weight: 200;
  font-size: 80px;
  list-style: none;
}

.typing ul li.on {
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}
@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #81d3d9;
  }
  100% {
    border-right: 1px solid #fff;
  }
}

.mainimg > .img1 {
  position: absolute;
  bottom: 380px;
  left: 260px;
  width: 300px;
  height: 300px;
}

.mainimg > .img2 {
  position: absolute;
  bottom: 340px;
  right: 320px;
  width: 150px;
  height: 150px;
}

.mainimg > .img3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 208px;
  height: 307px;
}
.mainimg > .img4 {
  position: absolute;
  bottom: 400px;
  right: 0px;
  width: 204px;
  height: 300px;
}

.mainimg > .img5 {
  position: absolute;
  bottom: 0px;
  right: 80px;
  width: 417px;
  height: 206px;
}

.lefttext {
  position: absolute;
  left: 40px;
  top: 120px;

  font-size: 22px;

  transform-origin: left;
  transform: rotate(90deg);
}

.righttext {
  position: absolute;
  right: -320px;
  top: 350px;
  font-size: 22px;

  transform-origin: left;
  transform: rotate(90deg);
}

/* ABOUT PAGE */
.aboutpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 800px;
}

.pagetitle > .minititle {
  margin-top: 40px;
  margin-left: 180px;
  font-weight: 300;
  font-size: 33px;
}

.nameimg {
  display: flex;
}

.nameimg > .name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 20px;
  margin-left: 80px;
}

.face {
  margin-top: 50px;
  margin-left: 180px;
  width: 268px;
  height: 292px;
}

.name {
  font-size: 28px;
}
.koname {
  font-weight: 500;

  margin-right: 10px;
}

.engname {
  margin-bottom: 20px;
  font-weight: normal;
}

.introduce,
.education,
.skills {
  margin-left: 530px;
}

.introduce {
  margin-top: -230px;
  font-weight: normal;
  font-size: 16px;
}

.introduce > span {
  font-weight: bold;
  color: #50c1ca;
}

.introduce2 {
  display: flex;
  margin-top: 50px;
}

.sectiontitle {
  font-weight: 600;
  font-size: 24px;
}

.education {
  margin-right: 100px;
}

.awardlist {
  padding: 0;
}
