html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  width: 100%;
  height: 200%;
  overflow-x: hidden;
  color: #363636;
}

li {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
}

.lefttext,
.righttext,
.logo,
.mainmenu > a,
.maintitle > ul,
.typing > ul,
.minititle,
.koname,
.engname,
.sectiontitle {
  color: transparent;
  background: linear-gradient(to right, #ffd6d6, #81d3d9, #fec58e);
  -webkit-background-clip: text;
}

/* Header */
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  z-index: 30;
}

.logo {
  margin-left: 126px;
  font-weight: 600;
  font-size: 22px;
}

.mainmenu {
  margin-left: 970px;
  position: fixed;
  display: flex;
  font-size: 16px;
}

.mainmenu > a {
  margin-right: 30px;
}

/* START PAGE */
.startpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maintitle {
  display: none;
}

.maintitle > ul,
.typing > ul {
  position: absolute;
  text-align: center;
  margin-top: 300px;
  margin-left: -180px;
  font-weight: 200;
  font-size: 80px;
  list-style: none;
}

.typing ul li.on {
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}
@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #81d3d9;
  }
  100% {
    border-right: 1px solid #fff;
  }
}

.mainimg > .img1 {
  position: absolute;
  bottom: 380px;
  left: 260px;
  width: 300px;
  height: 300px;
}

.mainimg > .img2 {
  position: absolute;
  bottom: 340px;
  right: 320px;
  width: 150px;
  height: 150px;
}

.mainimg > .img3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 208px;
  height: 307px;
}
.mainimg > .img4 {
  position: absolute;
  bottom: 400px;
  right: 0px;
  width: 204px;
  height: 300px;
}

.mainimg > .img5 {
  position: absolute;
  bottom: 0px;
  right: 80px;
  width: 417px;
  height: 206px;
}

.lefttext {
  position: absolute;
  left: 40px;
  top: 120px;

  font-size: 22px;

  transform-origin: left;
  transform: rotate(90deg);
}

.righttext {
  position: absolute;
  right: -310px;
  top: 350px;
  font-size: 22px;
  transform-origin: left;
  transform: rotate(90deg);
}

/* ABOUT PAGE */
.aboutpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 800px;
}

.pagetitle > .minititle {
  margin-top: 40px;
  margin-left: 180px;
  font-weight: 300;
  font-size: 33px;
}

.nameimg {
  display: flex;
}

.nameimg > .name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 20px;
  margin-left: 80px;
}

.about1img {
  position: absolute;
  width: 107px;
  height: 107px;
  right: 160px;
  margin-top: 20px;
}

.about2img {
  position: absolute;
  width: 205px;
  height: 205px;
  margin-top: 60px;
  right: 200px;
}

.about3img {
  width: 380px;
  height: 471px;
}

.face {
  margin-top: 50px;
  margin-left: 180px;
  width: 268px;
  height: 292px;
}

.name {
  font-size: 28px;
}
.koname {
  font-weight: 500;

  margin-right: 10px;
}

.engname {
  margin-bottom: 20px;
  font-weight: normal;
}

.introduce,
.education,
.skills {
  margin-left: 530px;
}

.line {
  border-width: 0.5px;
  border-style: solid;
  border-image: linear-gradient(to right, #ffd6d6, #81d3d9, #fec58e);
  border-image-slice: 1;
}

.description {
  margin-top: 16px;
}

.introduce {
  margin-top: -710px;
  font-weight: normal;
  font-size: 16px;
}

.introduce > span {
  font-weight: bold;
  color: #50c1ca;
}

.introduce2 {
  display: flex;
  margin-top: 50px;
}

.sectiontitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.education {
  margin-right: 100px;
}

.awardlist {
  padding: 0;
}

.skills {
  margin-top: 30px;
}

/* charts */

.html_chart > .circular > .subject {
  color: #81d3d9;
}

.css_chart > .circular > .subject {
  color: #ffd6d6;
}

.js_chart > .circular > .subject {
  color: #fec58e;
}

.figma_chart > .circular > .subject {
  color: #accaf8;
}

.charts {
  display: flex;
}

.circular {
  position: relative;
  height: 160px;
  width: 160px;
  margin-right: 44px;
  margin-top: 30px;
}

.circular .inner {
  position: absolute;
  z-index: 6;
  top: 27px;
  left: 27px;
  height: 106px;
  width: 106px;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.circular .subject {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 600;
  z-index: 10;
}

.circular .bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  -webkit-border-radius: 100%;
  clip: rect(0px, 160px, 160px, 80px);
}

.circular .bar .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 80px, 160px, 0px);
  background: #81d3d9;
  stroke-linecap: round;
}

.css_chart .circular .bar .progress {
  background: #ffd6d6;
}

.js_chart .circular .bar .progress {
  background: #fec58e;
}

.figma_chart .circular .bar .progress {
  background: #accaf8;
}

.circle .left .progress {
  z-index: 4;
  animation: left 4s linear both;
}

@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}

.circle .right {
  z-index: 5;
  transform: rotate(180deg);
}

.html_chart .circle .right .progress {
  animation: right_html 2s linear both;
  animation-delay: 4s;
}

.css_chart .circle .right .progress {
  animation: right_css 2s linear both;
  animation-delay: 4s;
}

.js_chart .circle .right .progress {
  animation: right_js 2s linear both;
  animation-delay: 4s;
}

.figma_chart .circle .right .progress {
  animation: right_figma 2s linear both;
  animation-delay: 4s;
}

@keyframes right_html {
  100% {
    transform: rotate(150deg);
  }
}

@keyframes right_css {
  100% {
    transform: rotate(160deg);
  }
}

@keyframes right_js {
  100% {
    transform: rotate(0deg);
  }
}

@keyframes right_figma {
  100% {
    transform: rotate(170deg);
  }
}

/* PROJECT PAGE */
.projectpage {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.minititle {
  color: transparent;
  background: linear-gradient(to right, #ffd6d6, #81d3d9, #fec58e);
  -webkit-background-clip: text;
}

.projectmenu {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.group1 {
  display: flex;
}

.group2 {
  display: flex;
}

.project_hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(91, 91, 91, 0.46);
  cursor: pointer;
}

.the_moment > .project_hover:hover {
  opacity: 1;
  transition: 0.5s;
}

.jubjub > .project_hover:hover {
  opacity: 1;
  transition: 0.5s;
}
.olio > .project_hover:hover {
  opacity: 1;
  transition: 0.5s;
}
.goout > .project_hover:hover {
  opacity: 1;
  transition: 0.5s;
}
.panorama > .project_hover:hover {
  opacity: 1;
  transition: 0.5s;
}
.ondo > .project_hover:hover {
  opacity: 1;
  transition: 0.5s;
}

.project_title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 30px;
}

.gotopage {
  margin-top: 40px;
  border: 0;
  outline: 0;
  width: 82px;
  height: 25px;
  font-weight: 100;
  font-size: 12px;
  border: solid 0.3px white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.the_moment {
  width: 444px;
  height: 306px;
  background-image: url("../img/themoment.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.jubjub {
  width: 261px;
  height: 306px;
  background-image: url("../img/jubjub.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.olio {
  width: 260px;
  height: 400px;
  background-image: url("../img/olio.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.goout {
  width: 261px;
  height: 306px;
  background-image: url("../img/goout.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: -70px;
}

.panorama {
  width: 444px;
  height: 306px;
  background-image: url("../img/panorama.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: -70px;
}

.ondo {
  width: 260px;
  height: 212px;
  background-image: url("../img/ondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
}
