html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  width: 100%;
  height: 200%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  z-index: 30;
}

.logo {
  margin-left: 126px;
  font-weight: 600;
  font-size: 22px;
  color: transparent;
  background: linear-gradient(to right, #ffd6d6, #81d3d9, #fec58e);
  -webkit-background-clip: text;
}

.mainmenu {
  margin-left: 970px;
  position: fixed;
  display: flex;
  font-size: 16px;
}

.mainmenu > a {
  margin-right: 30px;
  color: transparent;
  background: linear-gradient(to right, #ffd6d6, #81d3d9, #fec58e);
  -webkit-background-clip: text;
}

/* START PAGE */
.startpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maintitle {
  display: none;
}

.maintitle > ul,
.typing > ul {
  text-align: center;
  margin-top: 300px;
  font-weight: 200;
  font-size: 80px;
  list-style: none;
  color: transparent;
  background: linear-gradient(to right, #ffd6d6, #81d3d9, #fec58e);
  -webkit-background-clip: text;
}

.mainimg > .img1 {
  position: absolute;
  bottom: 380px;
  left: 260px;
  width: 300px;
  height: 300px;
}

.mainimg > .img2 {
  position: absolute;
  bottom: 340px;
  right: 320px;
  width: 150px;
  height: 150px;
}

.mainimg > .img3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 208px;
  height: 307px;
}
.mainimg > .img4 {
  position: absolute;
  bottom: 400px;
  right: 0px;
  width: 204px;
  height: 300px;
}

.mainimg > .img5 {
  position: absolute;
  bottom: 0px;
  right: 80px;
  width: 417px;
  height: 206px;
}

.lefttext {
  position: absolute;
  left: 40px;
  top: 120px;

  font-size: 22px;

  transform-origin: left;
  transform: rotate(90deg);
  color: transparent;
  background: linear-gradient(to right, #ffd6d6, #81d3d9, #fec58e);
  -webkit-background-clip: text;
}

.righttext {
  position: absolute;
  right: -320px;
  top: 350px;
  font-size: 22px;

  transform-origin: left;
  transform: rotate(90deg);
  color: transparent;
  background: linear-gradient(to right, #ffd6d6, #81d3d9, #fec58e);
  -webkit-background-clip: text;
}
